<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mantenimiento Cliente</title>

 	<!-- Bootstrap CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}" rel="stylesheet">  
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">
	
	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
	

  
	
	<style>
		.modal-header{
		color:#fff;
		background: #428bca;
		display: flex;
  		justify-content: center;  		
		}
		.help-block {
		  		color: red;
		}
		.form-group.has-error .form-control-label {
		  color: red;
		}
		.form-group.has-error .form-control {
		  border: 1px solid red;
		  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
		}
		.alertify .ajs-dialog {
		    top: 50%;
		    transform: translateY(-50%);
		    margin: auto;
		}
		.ajs-header{
			background-color: #286090 !important;
			color: white !important;
			/*text-align: center;*/
			font-size: 18px;
			font-weight: bold;
		}
		.ajs-ok{
			color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		}
		.ajs-cancel{
			color: #fff;
		    background-color: #dc3545;
		    border-color: #dc3545;
		}
	</style>
	  
</head>
<body>
	<div class="container">
		
		<h3 class="text-center">Listado de  Clientes</h3>	  
	  	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCliente">
	  		Nuevo Cliente
	  	</button>
	  	
	  	<!-- Modal PARA REGISTRAR-->
		<div class="modal fade" id="modalCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">Cliente</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form id="formCliente" action="/cliente/grabar" method="post" class="row g-3">
		         <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Código</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="codigo" id="idCodigo" readonly value="0">
				    </div>
				  </div>		  
				   <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Numero de Docuemnto</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="cod_cli" id="idCod_cli">
				    </div>
				  </div>
				   <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">Docuemnto</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <select class="form-select form-control" name="tipo" id="idTipo">
					  <option value=" ">[Seleccione Docuemnto]</option>
					  <option th:each="bean:${docuemntos}" 
					  	th:utext="${bean.descripcion}"
					  	th:value="${bean.codigo}"/>
					</select>
				    </div>
				  </div>
				  
				  <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Nombre</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="nombre" id="idNombre">
				    </div>
				  </div>
				  <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Apellido</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="apellido" id="idApellido">
				    </div>
				  </div>
				 <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">Edad</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="edad" id="idEdad">
				    </div>
				  </div>
				 <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">Genero</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <select class="form-select form-control" name="tipogen" id="idTipogen">
					  <option value=" ">[Seleccione Genero]</option>
					  <option th:each="bean:${generos}" 
					  	th:utext="${bean.descripcion}"
					  	th:value="${bean.codigo}"/>
					</select>
				    </div>
				  </div>
				 
				 

				  <div class="modal-footer">
			      	<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Registrar</button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cerrar</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	    <!--fin modal PARA REGISTRAR-->

	  	<!-- Modal PARA FOTO-->
		<div class="modal fade" id="modalFoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">FOTO</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form id="formMedicamento" action="/medicamento/subir-foto" enctype="multipart/form-data" 
		        		method="post" class="row g-3">
		        	<input type="hidden" class="form-control" name="codigoFoto" id="idCodigoFoto">
		  			
		  			<img src="/fotos/d4.jpg" style="max-width:20%;" id="foto-medicamento">
		  			
				  <div class="form-group col-12">
				    <label for="validationCustomUsername" class="form-label fw-bold">Seleccione Foto</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="file" class="form-control" name="data">
				    </div>
				  </div>
				  <div class="modal-footer">
			      	<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Actualizar Foto</button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cerrar</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	    <!--fin modal PARA FOTO-->






	    <div class="mt-5">
	    <table id="tableCliente" class="table table-striped" style="width:100%">
        <thead>
							   <tr>
					                  <th>Codigo</th>
					                <th>Nª Documento</th>
					                <th>Tipo de Documento</th>
					                <th>Nombre</th>
					                <th>Apellido</th>
					                <th>Edad</th>
					                <th>Genero</th>
					            
					                <th></th>
					                <th></th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="row:${clientes}">
							       <td th:text="${row.codigo}"></td>
							      <td th:text="${row.cod_cli}"></td>
							      <td th:text="${row.tipo.descripcion}"></td>
							      <td th:text="${row.nombre}"></td>
							      <td th:text="${row.apellido}"></td>
							       <td th:text="${row.edad}"></td>
							       <td th:text="${row.tipogen.descripcion}"></td>
							      
							      <td><a class="btn btn-info btn-editar" data-bs-toggle="modal" data-bs-target="#modalCliente"><i class="bi bi-pencil"></i></a></td>
							     <td><a class="btn btn-danger btn-eliminar"><i class="bi bi-trash-fill"></i></a></td>
							 
							  <!--  <td><a th:href="${row.nombreArchivo}"  class="btn btn-primary btn-foto" data-bs-toggle="modal" data-bs-target="#modalFoto"><i class="bi bi-pencil"></i></a></td>-->  
							    </tr>   
							  </tbody>
    </table>
	</div>    
	    
	  
	</div>
	
	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script> 
	
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	
	
	
	<script>
		//variable global
		let codTipo=0;
		let codGen=0;
		$(function() {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
	
		});	
		
		//asignar evento click a todos los botones con nombre de clase "btn-editar"
		$(document).on("click",".btn-editar",function(){
			//variable
			let cod;
			//obtener còdigo según la fila donde se hizo click en botón del lapiz 
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			//función get
			$.get("buscarPorID?codigo="+cod,function(response){
				//console.log(response);
				$("#idCodigo").val(response.codigo);
				$("#idCod_cli").val(response.cod_cli);
				$("#idTipo").val(response.tipo.codigo);
				$("#idNombre").val(response.nombre);
				$("#idApellido").val(response.apellido);
				$("#idEdad").val(response.apellido);
				$("#idTipogen").val(response.tipogen.codigo);
			
				//$("#idTipo").val(response.tipo.codigo);
				
				//guardar el codigo de tipo de medicamento en el global codTipo
				codTipo=response.tipo.codigo;
				codGen=response.tipogen.codigo;
				
				//invocar al evento change del combo de laboratorio
			//	$("#idLaboratorio").trigger("change");

			})
		})	
		
		//asignar evento click a todos los botones con nombre de clase "btn-eliminar"
		$(document).on("click",".btn-eliminar",function(){
			//variable
			let cod;
			//obtener còdigo según la fila donde se hizo click en botón eliminar 
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			
			alertify.confirm("Esta Seguro que desea eliminar este cliente",
			  function(){
			    window.location="eliminarPorID?codigo="+cod;
			  },
			  function(){
			    alertify.error('Cancelado');
			  });
		})
			
		//asignar evento change al select con atributo id "idLaboratorio"
		$(document).on("change","#idLaboratorio",function(){
			//variable
			let codLab=$(this).val();
			$.get("listarPorLab?codigo="+codLab,function(response){
				//console.log(response);
				//limpiar combo
				$("#idTipo").empty().append("<option>[Seleccione Tipo Medicamento]</option>");
				$.each(response,function(index,item){
					$("#idTipo").append("<option value='"+item.codigo+"'>"+item.nombre+"</option>");
				})
				$("#idTipo").val(codTipo);
			})
		})
		
		//asignar evento click a todos los botones con nombre de clase "btn-foto"
		$(document).on("click",".btn-foto",function(){
			//variable
			let cod;
			//obtener còdigo según la fila donde se hizo click en botón del lapiz 
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			//
			$("#idCodigoFoto").val(cod);
			//obtener valor del atributo href del botón seleccionado
			let nomArchivo=$(this).attr("href");
			//alert(nomArchivo);
			if(nomArchivo=="")
				document.querySelector("#foto-medicamento").src='/fotos/notfound.png';
			else
				document.querySelector("#foto-medicamento").src='/fotos/'+nomArchivo;
			
		})
		
			
			
	</script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/		
		
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>





	<script>
		$(document).ready(function () {
		    $('#tableCliente').DataTable();
		    //validación
		    $('#formCliente').bootstrapValidator({      
	        	 fields:{
	        		 	cod_cli:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo numero es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	tipo:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo tipo es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	nombre:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo nombre es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	apellido:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo apellido es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 edad:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo edad es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	tipogen:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo genero es obligatorio'
	        		 			}
	        		 		}
	        		 	},
		    
		    
	        	 }
	        })
	        $('#usr1').on('changeDate', function(e) {	
				$('#formCliente').data('bootstrapValidator').updateStatus('fecha', 'VALIDATED');
			})
		    $('#modalCliente')
	        .on('hidden.bs.modal',function(){
				$("#formCliente").bootstrapValidator('resetForm',true);
				$("#idCodigo").val(0)
			})
		    
		});
	</script>
	
	
</body>
</html>









